
a ul li{
    margin-top: 4px;
    background: transparent;
    padding: 8px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: #fff;
    border: 1px solid #0b6902;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    
}

a ul li:hover{
    background: #085e01;
    

}